---
- hosts: devpc
  become: true

  vars:
    docker_state: present
    docker_download_dest: /tmp/ansible/docker/
    docker_keyring_path: /usr/share/keyrings/docker-archive-keyring.gpg

  tasks:
    - name: Get docker keyring.
      ansible.builtin.stat:
        path: "{{ docker_keyring_path }}"
      register: docker_keyring_file

    - name: Create tmp download directory.
      ansible.builtin.file:
        state: directory
        path: "{{ docker_download_dest }}"
        mode: '0700'
      when: docker_state == 'present' and docker_keyring_file.stat.exists == false

    - name: Download Docker's official GPG key.
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: "{{ docker_download_dest }}gpg"
        mode: '0600'
      when: docker_state == 'present' and docker_keyring_file.stat.exists == false

    - name: Add Docker's official GPG key to /usr/share/keyrings/
      ansible.builtin.shell:
        chdir: "{{ docker_download_dest }}"
        cmd: "gpg --dearmor -o {{ docker_keyring_path }} {{ docker_download_dest }}gpg"
      when: docker_state == 'present' and docker_keyring_file.stat.exists == false

    - name: Install dependencies
      ansible.builtin.apt:
        pkg:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        update_cache: true
        cache_valid_time: 3600
        state: present

    - name: Add docker apt repository.
      ansible.builtin.apt_repository:
        repo: "deb [arch=amd64 signed-by={{ docker_keyring_path }}] https://download.docker.com/linux/ubuntu {{ ansible_lsb.codename }} stable"
        state: "{{ docker_state }}"
        update_cache: true
      when: docker_state == 'present'

    - name: Install docker engine.
      ansible.builtin.apt:
        pkg:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        update_cache: true
        cache_valid_time: 3600
        state: "{{ docker_state }}"

    - name: Ensure docker group exists
      ansible.builtin.group:
        name: docker
        state: present
      when: docker_state == 'present'

    - name: Add user to docker group
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        groups: docker
        append: true
      when: docker_state == 'present'

    - name: Delete tmp download directory.
      ansible.builtin.file:
        state: absent
        path: "{{ docker_download_dest }}"
      when: docker_state == 'present' and docker_keyring_file.stat.exists == false
