---
- hosts: devpc

  vars:
    state: present

  tasks:
    - name: Install inkscape via snap
      become: true
      community.general.snap:
        name: inkscape
        state: present
        classic: false
      when: state == 'present'

    - name: Uninstall inkscape via snap
      become: true
      community.general.snap:
        name: inkscape
        state: absent
      when: state == 'absent'
