---
- hosts: devpc
  become: true

  vars:
    mullvad_state: present
    mullvad_keyring_path: /usr/share/keyrings/mullvad-keyring.asc

  tasks:
    - name: Download Mullvad signing key
      ansible.builtin.get_url:
        url: https://repository.mullvad.net/deb/mullvad-keyring.asc
        dest: "{{ mullvad_keyring_path }}"
        mode: '0644'
      when: mullvad_state == 'present'

    - name: Add Mullvad repository
      ansible.builtin.apt_repository:
        repo: "deb [signed-by={{ mullvad_keyring_path }} arch={{ ansible_architecture | replace('x86_64', 'amd64') }}] https://repository.mullvad.net/deb/stable stable main"
        state: present
        filename: mullvad
      when: mullvad_state == 'present'

    - name: Install Mullvad VPN
      ansible.builtin.apt:
        name: mullvad-vpn
        state: present
        update_cache: true
      when: mullvad_state == 'present'

    - name: Uninstall Mullvad VPN
      ansible.builtin.apt:
        name: mullvad-vpn
        state: absent
      when: mullvad_state == 'absent'

    - name: Remove Mullvad repository
      ansible.builtin.apt_repository:
        repo: "deb [signed-by={{ mullvad_keyring_path }} arch={{ ansible_architecture | replace('x86_64', 'amd64') }}] https://repository.mullvad.net/deb/stable stable main"
        state: absent
        filename: mullvad
      when: mullvad_state == 'absent'

    - name: Remove Mullvad signing key
      ansible.builtin.file:
        path: "{{ mullvad_keyring_path }}"
        state: absent
      when: mullvad_state == 'absent'
