---
- hosts: devpc

  vars:
    obsidian_state: present

  tasks:
    - name: Install obsidian via snap
      become: true
      community.general.snap:
        name: obsidian
        state: present
        classic: true
      when: obsidian_state == 'present'

    - name: Uninstall obsidian via snap
      become: true
      community.general.snap:
        name: obsidian
        state: absent
      when: obsidian_state == 'absent'
