---
- hosts: devpc

  vars:
    state: present

  tasks:
    - name: Install spotify via snap
      become: true
      community.general.snap:
        name: spotify
        state: present
        classic: false
      when: state == 'present'

    - name: Uninstall spotify via snap
      become: true
      community.general.snap:
        name: spotify
        state: absent
      when: state == 'absent'
